.custom-scrollbar {
    overflow: auto;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 0.4em;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  /* input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px; /* Adjust the padding to your preference */
    /* cursor: pointer; */
  /* } */
  
  /* Style for the unchecked state */
  /* input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    */